body{
	background-color: #aaf2c2;
	font-family: 'Playfair Display', serif;
}
h1{
	font-size: 70px;
	text-align: center;
}
p{
	font-size: 40px;
}
button{
	width: auto;
	height: auto;
	background-color: black;
	border-radius: 20px;
}
a{
	font-size: 20px;
	color: blue;
}