body{
background-color: #64e899;
font-family: 'Amatic SC', cursive;
margin: 50px;
box-shadow: 0 0 20px 150px grey;
}
h1{
font-size:120px;
color: #e5f76a;
}
p{
	font-size: 50px;
	color: #f06b0c;
}
div{
background-image: url(../img/h.jpg)
}
a{
	font-size: 70px;
	color:#8e08cc ;
	text-decoration: none;
}
button{
	width: auto;
	height: auto;
	background-color: #000;
	border-radius: 100px;

}





